*box-sizing: border-box;

#single-art {
    display: flex;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.triangle {
    fill: #695559;
}

#scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 2px;
    border-radius: 10px;
    font-size: 18px;
}

.triangle:hover {
    transition: 0.2s ease-in;
    fill:#acb8c1a6;
}


.top-text {
    position: relative;
    text-align: center;
    margin: 2%;
    padding-top: 100px;
    margin-left: 5%;
    margin-right: 10%;
    width: 90%;
}

.title {
    font-family: Merriweather;
}

.short-description {
    font-family: Merriweather;
    margin: 2% 10%;

}



.topimg {
    position: relative;
    width: 90%;
    height: auto;
    max-height: 80vh;
    margin-left: 5%;
    margin-right: 5%;
    object-fit: cover;
}

.top-movie {
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 80vh;
}
video[poster]{
    object-fit: cover;

}
.long-description {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 0;
    font-size: 1.2em;
    letter-spacing: 1px;

}

.img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 10%;
    grid-template-rows: auto;

}

.img-gallery img{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 70vh;
    max-height: 100vh;
    object-fit: cover;
    grid-row-end: span;

}

.landscape {
    grid-column: 1/-1;
}



footer{
    display: none;
    position: static;
    bottom: 0;
}


/******* Mobile version break point ******/

@media screen and (max-width: 1131px) {
    .top-nav {

        background: none;

    }

    .top-text {
        margin-top: 35px;
        margin-bottom: 35px;

    }

    .short-description {
        margin: 35px 0;

    }

    header ul {
        background: white;
        width: 100vw;

    }


    .long-description {
        font-size: 10pt;
    }

    .area {
        font-size: 11pt;
    }

    .img-gallery {
        grid-template-columns: 1fr;
        grid-gap: 40px;

        width: 90%;
        margin-left: 5%;
        margin-right: 10%;
        padding-bottom: 0;

    }
}
